---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ming">
  <div class="card bg-base-100 w-full shadow-sm">
    <div class="content_container">
      <div data-view="Content" data-set="Scaffolding">
        <div
          data-container="page"
          class="page_container"
          local-style="11992766"
          data-id="11992766"
        >
          <div
            class="page container container_width"
            data-container="content"
            data-id="11992766"
          >
            <bodycopy class="bodycopy content content_padding">
              <div
                class="page_content clearfix"
                data-elementresizer
                data-resize-parent
              >
                <projectcontent
                  ><div
                    grid-row=""
                    grid-pad="3"
                    grid-gutter="6"
                    grid-responsive=""
                  >
                    <div grid-col="x11" grid-pad="3" class="">
                      <b>Huai House 徊 屋</b><br />
                      (Strolling House)
                    </div><div grid-col="x11" grid-pad="3" class="">
                      <i
                        >An interior renovation for wandering in a Taiwanese
                        street house—a gallery + shared&nbsp;workspace derived
                        from its previous notion of home</i>
                    </div>
                  </div><br />
                  <br />
                  <br />
                  <br /><div
                    grid-row=""
                    grid-pad="3"
                    grid-gutter="6"
                    grid-responsive=""
                  >
                    <div grid-col="x11" grid-pad="3">
                      Year &nbsp;|&nbsp; 2019-2020<br />Type &nbsp;|&nbsp;
                      renovation project, concept design for workspace+gallery<br
                      />Location&nbsp; |&nbsp; Tainan, Taiwan (conceptual)<br
                      />Material&nbsp; |&nbsp; coding of light, digital
                      collages, rendering<br />

                      <br />
                    </div>
                    <div grid-col="x11" grid-pad="3">
                      <b
                        ><b
                          >While tracing and reflecting the previous experience
                          as a private residential place, Huai Wu focuses on the
                          rearrangement of interior elements, routes, and
                          natural light sources for a sharing gallery and
                          creative workspace.&nbsp;</b
                        ></b
                      ><br />
                      <br />
                    </div>
                  </div><small>
                    <br />
                  </small>
                  <br />
                  <br />
                  <small>
                    <br />
                  </small><br /><b
                    ><b
                      ><div
                        grid-row=""
                        grid-pad="2"
                        grid-gutter="4"
                        grid-responsive=""
                      >
                        <div grid-col="x11" grid-pad="2">
                          <b
                            ><b
                              ><small
                                >This project “Huai House (徊屋 Huai Wu)” is a
                                further development after the artistic research
                                “Narrative Rooms” which exploring potential
                                qualities of personal privat realms speculated
                                to serve as workspaces.<br />
                                <br />* In “Narrative Rooms” (2017), tracing the
                                spatial monologue narrating some specific
                                details of the interior, the research leads
                                people to imagine the dreamy atmosphere in which
                                privacy and intimacy become the source of the
                                mindset for working.<br />
                                <br /></small
                              ></b
                            ></b>
                        </div>
                        <div grid-col="x11" grid-pad="2" class="">
                          <small
                            >Then, in “Huai House”, based on the context of the
                            Taiwanese street house—as many renovation projects
                            of it take place nowadays—the author realized the
                            concept of “narrative rooms” into the renovation of
                            a typical street house and turns it into a small
                            sharing studio for creative workers.<br /></small
                          >
                        </div>
                      </div><br /></b
                    ></b
                  ><br />
                  <br />
                  <br />
                  <div
                    class="image-gallery"
                    data-gallery="%7B%22mode_id%22%3A5%2C%22gallery_instance_id%22%3A1%2C%22name%22%3A%22Freeform%22%2C%22path%22%3A%22freeform%22%2C%22data%22%3A%7B%22image_vertical_align%22%3A%22middle%22%2C%22image_horizontal_align%22%3A%22middle%22%2C%22image_alignment%22%3A%22image_middle_middle%22%2C%22image_padding%22%3A%226%22%2C%22snap%22%3Afalse%2C%22snap_movement%22%3A5%2C%22responsive%22%3Atrue%2C%22mobile_data%22%3A%7B%22columns%22%3A2%2C%22column_size%22%3A11%2C%22image_padding%22%3A1%2C%22mobile_design_path%22%3A%22columns%22%2C%22separate_mobile_view%22%3Atrue%7D%2C%22meta_data%22%3A%7B%220%22%3A%7B%22width%22%3A57.88502413499788%7D%2C%221%22%3A%7B%22width%22%3A58.164364274181565%7D%2C%222%22%3A%7B%22width%22%3A79.14603627761181%7D%2C%223%22%3A%7B%22width%22%3A42.77811705560477%7D%2C%224%22%3A%7B%22width%22%3A37.54042244995405%7D%2C%225%22%3A%7B%22width%22%3A48.397633130013304%7D%2C%226%22%3A%7B%22width%22%3A39.876693526983296%7D%2C%227%22%3A%7B%22width%22%3A76.5393839636852%7D%2C%228%22%3A%7B%22width%22%3A81.23635805277404%7D%2C%229%22%3A%7B%22width%22%3A56.214607112544044%7D%2C%2210%22%3A%7B%22width%22%3A60.534446893804436%7D%2C%2211%22%3A%7B%22width%22%3A76.88463695758979%7D%2C%2212%22%3A%7B%22width%22%3A78.09201035476768%7D%2C%2213%22%3A%7B%22width%22%3A60.996993518990195%7D%7D%7D%7D"
                  >
                    <img
                      width="2486"
                      height="1426"
                      width_o="2486"
                      height_o="1426"
                      data-src="https://freight.cargo.site/t/original/i/db92af838f82ac16ec46fb98d1e36ba044be7378c89fd063a9292540bf3df251/Screen-Shot-2020-03-20-at-11.48.15-AM.png"
                      data-mid="64050980"
                      border="0"
                    />
                    <img
                      width="2516"
                      height="1424"
                      width_o="2516"
                      height_o="1424"
                      data-src="https://freight.cargo.site/t/original/i/7dc6dac2b1095de53cfbc9047d710cf9ebccae2ca79959a0a6f147610b851c6a/Screen-Shot-2020-03-20-at-11.47.40-AM.png"
                      data-mid="64050978"
                      border="0"
                    />
                    <img
                      width="2398"
                      height="1484"
                      width_o="2398"
                      height_o="1484"
                      data-src="https://freight.cargo.site/t/original/i/4bc1d61001616babd4d4f264064cda9629ef4f4b877c40754f15655fe5c79a95/Screen-Shot-2020-03-20-at-11.44.27-AM.png"
                      data-mid="64050720"
                      border="0"
                    />
                    <img
                      width="2042"
                      height="1342"
                      width_o="2042"
                      height_o="1342"
                      data-src="https://freight.cargo.site/t/original/i/1f3b16bc9b6a588442f22a34dd0286d496566b83610b9563b9349ac09ca540cc/Screen-Shot-2020-03-20-at-11.00.48-AM.png"
                      data-mid="64060923"
                      border="0"
                    />
                    <img
                      width="3866"
                      height="2284"
                      width_o="3866"
                      height_o="2284"
                      data-src="https://freight.cargo.site/t/original/i/1f08e42309722a740cbaebe44b824443822774cd2cd1ee73e8150f3f96f43fba/sketch_plancluster.jpg"
                      data-mid="64066223"
                      border="0"
                    />
                    <img
                      width="1382"
                      height="1510"
                      width_o="1382"
                      height_o="1510"
                      data-src="https://freight.cargo.site/t/original/i/335f815e8dd2ed05ec934a9bbbb45c6070d298b30dfdd9e8df6dbbfeba25920c/Screen-Shot-2020-03-20-at-11.24.32-AM.png"
                      data-mid="64049842"
                      border="0"
                    />
                    <img
                      width="3508"
                      height="3629"
                      width_o="3508"
                      height_o="3629"
                      data-src="https://freight.cargo.site/t/original/i/f10d5b5444ebbe281b3f44f087029b6955186495ef2a055191167b2d8704cbdd/diagram_nrcollage.png"
                      data-mid="64047185"
                      border="0"
                    />
                    <img
                      width="2218"
                      height="1450"
                      width_o="2218"
                      height_o="1450"
                      data-src="https://freight.cargo.site/t/original/i/8d69dfb1975aefccddc8d67058ba1b66e9f807cac7378ae0dda9fcf659a09b55/Screen-Shot-2020-03-20-at-10.58.54-AM.png"
                      data-mid="64047716"
                      border="0"
                    />
                    <img
                      width="2170"
                      height="1426"
                      width_o="2170"
                      height_o="1426"
                      data-src="https://freight.cargo.site/t/original/i/20bac32a03770bd3a3dfe4022b2148ee428a4395a46d0e40b97b8131abd26f92/Screen-Shot-2020-03-20-at-10.58.28-AM.png"
                      data-mid="64047737"
                      border="0"
                    />
                    <img
                      width="2270"
                      height="1428"
                      width_o="2270"
                      height_o="1428"
                      data-src="https://freight.cargo.site/t/original/i/e5755eef18b4f13adfaab87058acf1ad48143daa5988622a1fde087d041af126/Screen-Shot-2020-03-20-at-11.22.58-AM.png"
                      data-mid="64049294"
                      border="0"
                    />
                    <img
                      width="1978"
                      height="1120"
                      width_o="1978"
                      height_o="1120"
                      data-src="https://freight.cargo.site/t/original/i/a19534f28c4571e6397bc30ca9d7123331b71376bb80b19faea943784c36197f/Screen-Shot-2020-03-20-at-11.00.32-AM.png"
                      data-mid="64049453"
                      border="0"
                    />
                    <img
                      width="1846"
                      height="1256"
                      width_o="1846"
                      height_o="1256"
                      data-src="https://freight.cargo.site/t/original/i/a0f70634422fbdac4101e8bf0ee36703376b3acd5ecc052c9d5a6a67198a5509/Screen-Shot-2020-03-20-at-11.00.13-AM.png"
                      data-mid="64048380"
                      border="0"
                    />
                    <img
                      width="1868"
                      height="1254"
                      width_o="1868"
                      height_o="1254"
                      data-src="https://freight.cargo.site/t/original/i/906c2913da309676d57fe8227f1e73027511e070778efa4cb57a719afc924bd5/Screen-Shot-2020-03-20-at-10.59.59-AM.png"
                      data-mid="64048379"
                      border="0"
                    />
                    <img
                      width="2458"
                      height="1436"
                      width_o="2458"
                      height_o="1436"
                      data-src="https://freight.cargo.site/t/original/i/637f2e366e2bee3797ce9832698f633d7becedfff9f5f93a47fcc2806fa3d398/Screen-Shot-2020-03-20-at-11.21.10-AM.png"
                      data-mid="64049101"
                      border="0"
                    />
                  </div><br />
                  <br /><br /><br />
                  <br /><br />
                  <br />
                  <hr /><br /></projectcontent
                >
              </div>
            </bodycopy>
          </div>

          <div class="page_background"></div>

          <style class="local-css" data-target="11992766">
            [local-style="11992766"] .container_width {
              width: 83% /*!variable_defaults*/;
            }

            [local-style="11992766"] body {
              background-color: initial /*!variable_defaults*/;
            }

            [local-style="11992766"] .backdrop {
            }

            [local-style="11992766"] .page {
            }

            [local-style="11992766"] .page_background {
              background-color: initial /*!page_container_bgcolor*/;
            }

            [local-style="11992766"] .content_padding {
            }

            [data-predefined-style="true"] [local-style="11992766"] bodycopy {
            }

            [data-predefined-style="true"] [local-style="11992766"] bodycopy a {
            }

            [data-predefined-style="true"] [local-style="11992766"] h1 {
            }

            [data-predefined-style="true"] [local-style="11992766"] h1 a {
            }

            [data-predefined-style="true"] [local-style="11992766"] h2 {
            }

            [data-predefined-style="true"] [local-style="11992766"] h2 a {
            }

            [data-predefined-style="true"] [local-style="11992766"] small {
            }

            [data-predefined-style="true"] [local-style="11992766"] small a {
            }
          </style>
        </div>
      </div>

      <div data-autopaginate></div><div
        data-view="Thumbnail"
        data-set="GlobalThumbnails"
        class="thumbnails"
      >
        <div class="container thumbnails_width clearfix">
          <div class="content content_padding">
            <div class="thumbnails"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
