---
---

<html lang="en" data-predefined-style="true" data-css-presets="true" data-css-preset data-typography-preset>
	
	<body data-bodyview="" >
		
			<div id="toolset" class="toolset">
		<div id="toolset_admin">
			<a 
					href="https://cargo.site" target="_blank"
			>
				<svg id="Layer_1" x="0px" y="0px" viewBox="0 6 30 30" style="enable-background:new 0 6 30 30;">
				<polygon style="fill:#FFFFFF;enable-background:new;" points="21.2999878,19.5 15.8999939,19.5   18.2000122,11.6000061 9.2999878,22.5 14.7999878,22.5 12.6000061,30.3999939 "/>
				</svg>
			</a>
		</div>
	</div>
</div>

		
				
	
		
		<div 
	id="site_menu_wrapper" class=" mobile_only" 
	data-sitemenu-position="top-right" 
	data-type="cargo_menu" 
	data-set="SiteMenu"
	data-view="SiteMenu"
>

	<a  rel="site_menu" id="site_menu_button" class="">

			&#xfe0e;
	</a>
	
	<div id="site_menu_panel_container" data-type="cargo_menu"><!-- empty container for site menu --></div>

</div>
		<a id="shop_button" rel="show_cart" "https://szuyiwang.com/href" class="disabled text ">
			</a>
		<div class="main_container">

			<div data-view="pinned_top" data-set="Scaffolding" data-position="top" class="pinned pinned_top">
					<div class="page_container overlay fixed exclude_mobile" local-style="4202618">
	<div class="page container container_width clearfix" data-container="content" data-id="4202618">
		<bodycopy class="bodycopy content content_padding">

			
			<div class="page_content clearfix" data-elementresizer data-resize-parent>
				<projectcontent><a href="Home" rel="history">WANG,&nbsp; 王 &nbsp; &nbsp; <br>SZU-YI &nbsp; 思&nbsp; 懿</a> &nbsp; <br>

|<br>

<br>
<br>
<a href="Project-Nav" rel="history">Work</a><br><a href="Seeding-her-feet" rel="history"><span style="color: #969696;">Seeding Her Feet</span></a>
<br><a href="Home" rel="history"><span style="color: #969696;">Rings 環 </span></a>
<br><a href="You-House" rel="history"><span style="color: #969696;">You House 遊居之間</span></a>
<a href="Zi-Yuan-A-Spring-Stroll" rel="history"><span style="color: #969696;"><br>Zi Yuan, A Spring Stroll 字園遊步</span></a><br><a href="Zi-Xian-at-TENT" rel="history"><span style="color: #969696;">Zi Xian at TENT&nbsp;</span></a><a href="Foreshore" rel="history"><span style="color: #969696;"><br>
Foreshore 漫步潮閒</span></a>&nbsp;<br>
<a href="Huai-House-Strolling-House" rel="history"><span style="color: #969696;">Huai House 徊屋</span></a>&nbsp;<br>
<a href="Shan-yu-Shu" rel="history"><span style="color: #969696;">Shan yu Shu</span></a><br>
<span style="color: #969696;"><a href="Ritual-upon-the-Paper" rel="history"><span style="color: #969696;">
Ritual upon the Paper<br>
</span></a></span>
<span style="color: #969696;"><a href="Writing-In-between-the-Post-Urban" rel="history"><span style="color: #969696;">In-between the Post Urban</span></a></span><br>
<a href="Extension-Park-Vijversburg" rel="history"><span style="color: #969696;">Extension Park Vijversburg</span></a>
<br>
<a href="Zi-Xian-The-Hanzi-Space" rel="history"><span style="color: #969696;">Zi Xian 字閒 </span></a>
<br>
<a href="The-Stage-After" rel="history"><span style="color: #969696;">The Stage After</span></a>
<br>
<a href="Moving-Drawings" rel="history"><span style="color: #969696;">Moving Drawings</span></a>
<br>
<span style="color: #969696;"></span>
<a href="Narrative-Theatre" rel="history"><span style="color: #969696;">Narrative Theatre</span></a>
<br>
<span style="color: #969696;"><a href="Water-Air-Ambience" rel="history"><span style="color: #969696;">Water, Air, Ambience</span></a></span>
<br>
<span style="color: #969696;"></span>
<a href="Narrative-Rooms" rel="history"><span style="color: #969696;">Narrative Rooms</span></a>
<br>
<a href="Hanzi-on-the-Table" rel="history"><span style="color: #969696;">Hanzi on the Table</span>
</a><br>
<span style="color: #969696;"></span>
<a href="The-Shining-Matter" rel="history"><span style="color: #969696;">The Shinig Matter</span></a>
<br>
<a href="un-Folded-Clusters" rel="history"><span style="color: #969696;">(un)Folded Clusters</span>&nbsp;</a><br>

<a href="Meet-the-Mountains" rel="history"><span style="color: #969696;">Meet the Mountains</span> </a><br><a href="Film" rel="history">Film</a>&nbsp;<br><a href="Photo-gallerie" rel="history">Photo gallerie&nbsp; <b>.:.</b></a>
<br>
<a href="Visual-music" rel="history">Visual music︎<br></a>
<br>

<a href="News" rel="history"><span style="color: rgba(0, 0, 0, 0.4);">News
</span></a>
<br><a href="Information" rel="history"><span style="color: rgba(0, 0, 0, 0.4);">Information</span></a><br><a href="cv" rel="history"><span style="color: rgba(0, 0, 0, 0.4);">cv</span>
</a><br><a href="Information" rel="history"></a>
<br><small><a href="https://twitter.com/szuyi_wang" target="_blank"></a><a href="https://www.instagram.com/szu_yiwang/" target="_blank" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a>&nbsp; <a href="https://vimeo.com/szuyiwang" target="_blank" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a></small><span style="color: rgba(0, 0, 0, 0.4);">  &nbsp;</span><small><span style="color: rgba(0, 0, 0, 0.4);"><a href="mailto:szuyi.sywang@gmail.com" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a>&nbsp; <a href="https://www.facebook.com/sywangszuyi" target="_blank" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a>&nbsp;&nbsp;</span></small><br>
<span style="color: rgba(0, 0, 0, 0.4);"><span style="color: rgba(0, 0, 0, 0.4);"><small><a href="http://linkedin.com/in/szu-yi-wang-251b1b19" target="_blank" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a></small>&nbsp; <small><a href="https://twitter.com/szuyi_wang" target="_blank" class="icon-link"><span style="color: rgba(0, 0, 0, 0.4);">︎</span></a></small><small><span style="color: rgba(0, 0, 0, 0.4);"><a href="https://www.facebook.com/sywangszuyi" target="_blank"><span style="color: rgba(0, 0, 0, 0.4);"></span></a></span></small></span></span></projectcontent>
			</div>

			
		</bodycopy>
	</div>
	<div class="page_background"></div>

	</div>						</div>
			
			<div class="content_container">
<div data-view="Content" data-set="Scaffolding">
	
	

	
	<div data-container="page" class="page_container" local-style="20636503" data-id="20636503">
		
		<div class="page container container_width" data-container="content" data-id="20636503">
			<bodycopy class="bodycopy content content_padding">
				
				<div class="page_content clearfix" data-elementresizer data-resize-parent>
					<projectcontent><div grid-row="" grid-pad="3" grid-gutter="6" grid-responsive=""><div grid-col="x11" grid-pad="3" class=""><b>Zi Xian at TENT</b><br>
<br>
</div>










<i>While language serves as the connector as well as the barrier;<br>While language serves as more the connector than the barrier<br>
</i><br>



<a href="http://zionlacroix.com" target="_blank"></a></div></div>
<br>
<br>
<br><div grid-row="" grid-pad="3" grid-gutter="6" grid-responsive=""><div grid-col="x11" grid-pad="3">Year &nbsp;|&nbsp; 2020 - 2021<br>Type &nbsp;|&nbsp; paper sculpture<br>Material&nbsp; |&nbsp; paper in kinds, light &amp; shadow in movements<br>
<br><b>Presented in the exhibition 










'Wat ik je nog wilde zeggen' (What else I wanted to tell you) co-curated by Rianne Zijderveld and city poet Dean Bowen at TENT Rotterdam.&nbsp;</b><br>

<br>
</div>
	<div grid-col="x11" grid-pad="3"><b>
“A Hanzi is a poetry itself.”—Anke Bangma
<br>



</b>
<br><b>Zi Xian, with a specific display unfolding the fragility and timelessness of languages as our tools, is invited to be part of the dialogues seeking the lost narrative and found forms of our languages.<br>
<br>
More info will be updated soon.</b></div>
</div><small>










<br>



</small>
<br>
<br>
<br><div grid-row="" grid-pad="3" grid-gutter="6" grid-responsive=""><div grid-col="x11" grid-pad="3" class=""><br><br><br><br><br><br><br><br>
<small>Credit: Photo 1 by Szu-Yi Wang /
Photo 2, 3, 5 by Aad Hoogendoorn / Photo 4 (video still) by Elyssio Ramos</small><br>
</div>
	<div grid-col="x11" grid-pad="3"><small><i></i>“This expo has <i>questioned my answers and answered questions. I now realize how fluid and transient language is...”
—Amara van der Elst</i><br>
<br>
<br>
Below you could find one of the video series <i>Dichters over de taal van de stad responding to the exhibition.</i><br><br>
Gedicht: Amara van der Elst<br>
Organisatie: Paginagroots<br>
Beeld: Elyssio Ramos<br>
Muziek: Eetieeetds<br></small>
<br>
</div>
</div><small>










<br>



</small>
<br>
<br>
<br><div style="text-align: center;"><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ryPogQsYzKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="width: 560px; height: 315px;"></iframe><br>
<br>
More information at <a href="http://www.tentrotterdam.nl/artikelen/amara-van-der-elst-alfabetsoep/" target="_blank">www.tentrotterdam.nl/artikelen/amara-van-der-elst-alfabetsoep/</a><br><br>










<br>
<br><small>︎ ︎</small></div><br>
<br><br><br>
<br><div class="image-gallery" data-gallery="%7B%22mode_id%22%3A5%2C%22gallery_instance_id%22%3A8%2C%22name%22%3A%22Freeform%22%2C%22path%22%3A%22freeform%22%2C%22data%22%3A%7B%22image_vertical_align%22%3A%22middle%22%2C%22image_horizontal_align%22%3A%22middle%22%2C%22image_alignment%22%3A%22image_middle_middle%22%2C%22image_padding%22%3A%224%22%2C%22snap%22%3Afalse%2C%22snap_movement%22%3A5%2C%22responsive%22%3Atrue%2C%22mobile_data%22%3A%7B%22columns%22%3A%221%22%2C%22column_size%22%3A12%2C%22image_padding%22%3A1%2C%22mobile_design_path%22%3A%22columns%22%2C%22separate_mobile_view%22%3Atrue%7D%2C%22meta_data%22%3A%7B%220%22%3A%7B%22width%22%3A95.28253842514303%7D%2C%221%22%3A%7B%22width%22%3A65.09412710326902%7D%2C%222%22%3A%7B%22width%22%3A43.489605576825035%7D%2C%223%22%3A%7B%22width%22%3A86.50557187636565%7D%2C%224%22%3A%7B%22width%22%3A65.09412710326902%7D%7D%2C%22responsive_columns%22%3A%221%22%2C%22captions%22%3Atrue%7D%7D">
<img width="3035" height="3035" width_o="3035" height_o="3035" data-src="https://freight.cargo.site/t/original/i/6249d6103be9520dcc5e646db8b8b8840fa8942fc1a7891fa070c31c6d9bc621/Zi-Xian_Szu-Yi-Wang_GNKK.jpg" data-mid="114280969" border="0" />
<img width="1286" height="852" width_o="1286" height_o="852" data-src="https://freight.cargo.site/t/original/i/541b1c32540bcedfa1837adbf96916eda99c20b2f6f2fb6b0e400fa2f411b2af/Screen-Shot-2021-01-23-at-1.56.50-PM.png" data-mid="114298986" border="0" />
<img width="1382" height="994" width_o="1382" height_o="994" data-src="https://freight.cargo.site/t/original/i/ad0e05f39b2081ba90b1eb001115e1a528c4bf7431fbf16fcb69e88813069aff/Screen-Shot-2021-01-23-at-3.01.12-PM.png" data-mid="114298957" border="0" />
<img width="2560" height="1158" width_o="2560" height_o="1158" data-src="https://freight.cargo.site/t/original/i/cefb63395f080721b4b9fc4a542203edffa74ad3e0354477ad8ba8c2265ed85b/Screen-Shot-2021-01-23-at-2.09.18-PM.png" data-mid="114298997" border="0" />
<img width="1398" height="936" width_o="1398" height_o="936" data-src="https://freight.cargo.site/t/original/i/3daf78b1d43c61a6d6c2e0367d9637a89c69badbad7a36c886e778ac00de112c/Screen-Shot-2021-01-23-at-2.11.53-PM.png" data-mid="114298987" border="0" />
</div><br><br>
<br>
<br>
<br><br>
<br>
<hr><br></projectcontent>
				</div>

				
			</bodycopy>
		</div>

		<div class="page_background"></div>

			</div>

				
</div>

<div data-autopaginate></div><div data-view="Thumbnail" data-set="GlobalThumbnails" class="thumbnails">
	<div class="container thumbnails_width clearfix">
		<div class="content content_padding">
			<div class="thumbnails">
			</div>
		</div>
	</div></div>
			</div>

			<div data-view="pinned_bottom" data-set="Scaffolding" data-position="bottom" class="pinned pinned_bottom">
				<div class="page_container accommodate exclude_mobile bottom_pin_invisibility" local-style="4202612">
	<div class="page container container_width clearfix" data-container="content" data-id="4202612">
		<bodycopy class="bodycopy content content_padding">

			
			<div class="page_content clearfix" data-elementresizer data-resize-parent>
				<projectcontent><div style="text-align: center"><small>© SZU-YI WANG. 2022</small></div></projectcontent>
			</div>

			
		</bodycopy>
	</div>
	<div class="page_background"></div>

	</div>							</div>

		</div>

		<div data-content-ruler class="container container_width"></div>

	</body>
</html>
